@model CreateRoleViewModel

@{
    ViewBag.Title = "Creación de rol";
}
<div class="card p-4" style="background:#f1f8ff;min-width:500px;max-width:50%;">
    <h1 class="card-title">Creación de rol</h1>

    <div class="row card-body">
        <div class="col-md-12">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RoleName"></label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
               
                <button type="submit" class="btn btn-primary">Crear rol</button>
            </form>
        </div>
    </div>
</div>