
@model KindergartenAppService.Models.Receipt
@{
    ViewData["Title"] = "ReceiptPreview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1></h1>



<partial name="Documents/Receipt" />


<div>
    <a asp-action="Index">Retornar al listado</a>
</div>