@model  EnrollActivity
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Activity.Description)
        </td>
        <td>
            <a class="btn btn-warning" asp-controller="EnrollActivities" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-info" asp-controller="EnrollActivities" asp-action="Details" asp-route-id="@Model.Id">Details</a>
            <a class="btn btn-danger" asp-controller="EnrollActivities" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
        </td>
    </tr>
