@model KindergartenAppService.Models.Activity

@{
    ViewData["Title"] = "Borrar actividad";
}

<h1>Borrar</h1>

<h3>¿Deseas borrar este registro?</h3>
<div>
    <h4>Actividad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kindergarter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kindergarter.Description)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Retornar al listado</a>
    </form>
</div>
