@model List<Invoice>
@{
    ViewData["Title"] = "Reporte estado de cuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <img src="~/assets/images/logokphsm.jpg" alt="allytees-500-trans.png" width="120">
</div>
<h1 class="mb-3">@ViewData["h1"]</h1>
<partial name="Documents/PendingInvoices" />
